<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width: 600px; margin: 0 auto">
          <table align="center" cellpadding="0" cellspacing="0" style="
              border-spacing: 0;
              font-family: Helvetica, Arial, sans-serif;
              margin: 0 auto;
              padding: 24px;
              width: 100%;
            ">
            <tbody>
              <tr>
                <td>
                  <h1 align="center" style="color: #9155FD">Student Passport</h1>
                </td>
              </tr>
              <tr>
                <td style="text-align: left; word-break: break-word">
                  <table
                    style="width: 100%; background-color: whitesmoke; border-top: 2px solid #9155FD; border-radius: 9px; padding: 10px;"
                    width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width: 100%;" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                              {{img}}
                              <tr>
                                <td align="center">
                                  <h1 style="
                                      font-size: 26px;
                                      line-height: 30px;
                                      word-break: normal;
                                      margin-top: 20px;
                                      margin-bottom: 0px;
                                    ">
                                    {{header}}
                                  </h1>

                                  <p style="
                                      font-size: 16px;
                                      word-break: normal;
                                      margin-top: 7px;
                                      margin-bottom: 20px;
                                      color: rgb(112, 112, 112);
                                    ">
                                    {{subheader}}
                                  </p>

                                  <h4 style="
                                      font-size: 16px;
                                      line-height: 25px;
                                      color: rgb(48, 48, 48);
                                      word-break: normal;
                                      margin-bottom: 20px;
                                    ">
                                    {{body}}
                                  </h4>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      {{button_html}}

                      <tr>
                        <td>
                          <p style="
                            font-size: 14px;
                            word-break: normal;
                            text-align: center;
                            margin-bottom: 20px;
                            font-weight: lighter;
                          ">
                            {{footer}}
                          </p>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-top: 20px; margin-bottom: 20px; width: 100%" width="100%">
                    <tbody>
                      <tr align="center">
                        <td>
                          <a href="{{frontend_url}}">
                            <img src="{{logo_url}}" style="
                            display: block;
                            width: auto;
                            height: 50px;
                          " />
                          </a>
                        </td>
                      </tr>
                      <tr align="center">
                        <td style="font-size: 12px; font-family: ArialMT, Arial, sans-serif;">
                          Paragon.U Student Passport<br>
                          Phnom Penh Cambodia<br>
                          <br>
                          Copyright 2021, All Rights Reserved<br>
                        </td>
                      </tr>
                      <tr align="center">
                        <td>
                          <table style="
                      max-width: 100%;
                      width: 100%;
                      font-family: ArialMT, Arial, sans-serif;
                    " cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <p style="
                              font-size: 10px;
                              color: #708c91;
                              padding: 0;
                              margin-top: 10px;
                              margin-bottom: 2px;
                            ">
                                    This email was sent to you by the system (Do
                                    not reply)
                                  </p>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>