<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width: 600px; margin: 0 auto">
          <table align="center" cellpadding="0" cellspacing="0" style="
              border-spacing: 0;
              font-family: gt-eesti, ArialMT, Helvetica, Arial, sans-serif;
              margin: 0 auto;
              padding: 24px;
              width: 100%;
              max-width: 500px;
            ">
            <tbody>
              <tr>
                <td>
                  <table style="margin-bottom: 40px; width: 100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <a href="https://www.ychhe.com.kh" style="
                              font-family: Helvetica, Arial, sans-serif;
                              color: #0086bf;
                            " target="_blank">
                            <img src="{{logo_url}}" style="display: block" width="200" height="65" />
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align: left; word-break: break-word">
                  <table style="width: 100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width: 100%;" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td>
                                  <h1 style="
                                      font-size: 26px;
                                      line-height: 30px;
                                      color: #054752;
                                      word-break: normal;
                                      margin-bottom: 40px;
                                    ">
                                    {{header}}
                                  </h1>

                                  <h3 style="
                                      font-size: 16px;
                                      line-height: 25px;
                                      color: rgb(48, 48, 48);
                                      word-break: normal;
                                      margin-bottom: 20px;
                                    ">
                                    {{body}}
                                  </h3>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      {{button_html}}
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-bottom: 20px; width: 100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width: 100%; margin-bottom: 20px" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td>
                                  <h3 style="
                                    font-size: 16px;
                                    line-height: 25px;
                                    color: rgb(48, 48, 48);
                                    word-break: normal;
                                    margin-bottom: 20px;
                                  ">
                                    {{footer}}
                                  </h3>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" style="margin-bottom: 20px; width: 100%">
                            <tbody>
                              <tr>
                                <td width="100%">
                                  <div style="
                              width: 100%;
                              height: 1px;
                              background-color: #ddd;
                            " color="#DDD" width="100%"></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>

                      <tr>
                        <td style="text-align: center">
                          <img src="{{logo_url}}" style="
                      display: block;
                      width: 29px;
                      height: auto;
                      margin-left: auto;
                      margin-right: auto;
                      margin-bottom: 10px;
                    " height="auto" />
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center; font-size: 12px; font-family: ArialMT, Arial, sans-serif;">
                          Y Chhe Group Co., LTD.<br>
                          Construction and Building Materials<br>
                          Phnom Penh Cambodia<br>
                          <br>
                          Copyright 2021, All Rights Reserved<br>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align: center">
                          <table style="
                      max-width: 100%;
                      width: 100%;
                      text-align: center;
                      font-family: ArialMT, Arial, sans-serif;
                    " cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td style="text-align: center">
                                  <p style="
                              font-size: 10px;
                              color: #708c91;
                              text-align: center;
                              padding: 0;
                              margin-top: 10px;
                              margin-bottom: 2px;
                            ">
                                    This email was sent to you by ERP (Do
                                    not reply)
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>