<tr>
    <td>
        <center>
            <table style="
                background-color: #fff;
                margin-bottom: 30px;
                table-layout: fixed;
              " align="center" width="" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="
                      background-color: rgb(2, 68, 84);
                      color: #fff;
                      text-align: center;
                      border-radius: 48px;
                      padding: 16px 24px;
                      border-color: transparent;
                      font-weight: bold;
                      font-size: 16px;
                      line-height: 1;
                    ">
                            <a style="
                        color: white;
                        text-decoration: none;
                      " href="{{button_link}}">{{button_name}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </td>
</tr>